<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wmiii.video.mapper.TeacherMapper">
    <select id="getTeacherById"  parameterType="Integer" resultType="com.wmiii.video.entity.Teacher">
        select * from teacher where teacherId=#{id}
    </select>
    <!--
    <select id="getAll" resultType="Teacher">
        select * from teacher
    </select>--> 
</mapper>